* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.brand-logo {
    font-family: 'Josefin Sans', sans-serif;
}

.outline {
    border: 3px dotted red;
}

header {
    height: 250px;
    background-image: url(../imgs/banner.jpg);
    background-size: cover;
    background-position: center;
}

main {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    height: 50px;
}